.text-bold{
    font-weight: bold;
}
.text-small{
    font-size: 0.8em;
}
p{
    font-family: 'Lato', sans-serif;
}

h1{
    font-size: 1.8em !important;
    font-family: 'Karla';
}
h2{
    font-size: 1.4em !important;
    font-family: 'Karla';
}
h3{
    font-size: 1em !important;
    font-family: 'Karla';
}